.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
}

/* for another time... */
.hero {
  max-width: 200px;
}

span {
  display: flex;
  gap: 25px;
  justify-content: center;

  a {
    margin: 0;
    img {
      width: 40px;
    }
  };
  
  a {
    width: fit-content;
    align-self: center;
  }
}

/* .colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: 0;
  width: 25px;
} */

.colorMode:hover {
  cursor: pointer;
}

.description {
  max-width: 65ch;
  align-self:center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}